In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

#imports

In [120]:
data=pd.read_csv("Healthcare-Diabetes.csv")
data
#reading csv

,Id,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,6,148,72,35,0,33.6,0.627,50,1
1,2,1,85,66,29,0,26.6,0.351,31,0
2,3,8,183,64,0,0,23.3,0.672,32,1
3,4,1,89,66,23,94,28.1,0.167,21,0
4,5,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...,...
2763,2764,2,75,64,24,55,29.7,0.370,33,0
2764,2765,8,179,72,42,130,32.7,0.719,36,1
2765,2766,6,85,78,0,0,31.2,0.382,42,0
2766,2767,0,129,110,46,130,67.1,0.319,26,1
2767,2768,2,81,72,15,76,30.1,0.547,25,0

In [122]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2768 entries, 0 to 2767
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        2768 non-null   int64
 1   Pregnancies               2768 non-null   int64
 2   Glucose                   2768 non-null   int64
 3   BloodPressure             2768 non-null   int64
 4   SkinThickness             2768 non-null   int64
 5   Insulin                   2768 non-null   int64
 6   BMI                       2768 non-null   float64
 7   DiabetesPedigreeFunction  2768 non-null   float64
 8   Age                       2768 non-null   int64
 9   Outcome                   2768 non-null   int64
dtypes: float64(2), int64(8)
memory usage: 216.4 KB

In [123]:
data.describe()

,Id,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,2768.000000,2768.000000,2768.000000,2768.000000,2768.000000,2768.000000,2768.000000,2768.000000,2768.000000,2768.000000
mean,1384.500000,3.742775,121.102601,69.134393,20.824422,80.127890,32.137392,0.471193,33.132225,0.343931
std,799.197097,3.323801,32.036508,19.231438,16.059596,112.301933,8.076127,0.325669,11.777230,0.475104
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,692.750000,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.244000,24.000000,0.000000
50%,1384.500000,3.000000,117.000000,72.000000,23.000000,37.000000,32.200000,0.375000,29.000000,0.000000
75%,2076.250000,6.000000,141.000000,80.000000,32.000000,130.000000,36.625000,0.624000,40.000000,1.000000
max,2768.000000,17.000000,199.000000,122.000000,110.000000,846.000000,80.600000,2.420000,81.000000,1.000000

In [160]:
#replacing abnormalities (values that shouldn't be 0 but are) with the mean value of the column

data["BMI"].replace(0, data["BMI"].mean())
data.replace({"SkinThickness": data["SkinThickness"].mean()}, inplace=True)
data.replace({"Glucose": data["Glucose"].mean()}, inplace=True)
data.replace({"BloodPressure": data["BloodPressure"].mean()}, inplace=True)
data.replace({"Insulin": data["Insulin"].mean()}, inplace=True)

data.sort_values("Insulin")

,Id,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1683,1684,0,180.0,78.0,63.0,14.0,59.4,2.420,25,1
2272,2273,0,180.0,78.0,63.0,14.0,59.4,2.420,25,1
445,446,0,180.0,78.0,63.0,14.0,59.4,2.420,25,1
1213,1214,0,180.0,78.0,63.0,14.0,59.4,2.420,25,1
2473,2474,2,68.0,62.0,13.0,15.0,20.1,0.257,23,0
...,...,...,...,...,...,...,...,...,...,...
1015,1016,0,165.0,90.0,33.0,680.0,52.3,0.427,23,0
228,229,4,197.0,70.0,39.0,744.0,36.7,2.329,31,0
996,997,4,197.0,70.0,39.0,744.0,36.7,2.329,31,0
2154,2155,4,197.0,70.0,39.0,744.0,36.7,2.329,31,0
13,14,1,189.0,60.0,23.0,846.0,30.1,0.398,59,1